<a href="https://colab.research.google.com/github/KIQVinicius/Modelo-de-classificacao/blob/main/Classificacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

## Exemplo

In [7]:
# [Ã© gordinho?, tem perninha curta?, faz auau?]
porco1 = [1, 1, 0]
porco2 = [1, 1, 0]
porco3 = [1, 1, 0]
cachorro4 = [1, 1, 1]
cachorro5 = [0, 1, 1]
cachorro6 = [0, 1, 1]

In [8]:
dados = [porco1, porco2, porco3, cachorro4, cachorro5, cachorro6]

In [9]:
#1 = porco
#-1 = cachorro
marcacoes = [1, 1, 1, -1, -1, -1]

In [10]:
from sklearn.naive_bayes import MultinomialNB

In [11]:
modelo = MultinomialNB()
modelo.fit(dados, marcacoes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
teste1 = [1,1,1]
teste2 = [0,1,1]
teste3 = [1,1,0]

In [13]:
testes = [teste1, teste2, teste3]
marcacoes_teste = [-1,-1,-1]

In [14]:
resultado = modelo.predict(testes)

In [15]:
print(resultado == marcacoes_teste)

[ True  True False]

In [16]:
modelo.score(testes, marcacoes_teste)

0.6666666666666666

# Caso real

In [17]:
dados = pd.read_csv("acesso.csv")

In [18]:
print(dados.head())

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [19]:
y = dados['comprou']

In [20]:
x = dados[['acessou_home', 'acessou_como_funciona', 'acessou_contato']]

In [21]:
x

    acessou_home  acessou_como_funciona  acessou_contato
0              1                      1                0
1              1                      1                0
2              1                      1                0
3              1                      1                0
4              1                      1                0
..           ...                    ...              ...
94             0                      0                1
95             1                      1                1
96             0                      0                1
97             0                      1                0
98             0                      0                0

[99 rows x 3 columns]

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y,test_size=0.33)

In [24]:
modelo.fit(x_treino, y_treino)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [25]:
modelo.score(x_teste, y_teste)

0.8787878787878788

In [29]:
from sklearn.ensemble import AdaBoostClassifier

In [30]:
modelo = AdaBoostClassifier()

In [33]:
modelo.fit(x_treino, y_treino)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [34]:
modelo.score(x_teste, y_teste)

0.9090909090909091